body {
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: center;
}
.nav-item {
    text-decoration: none;
    color: black;
    margin: 20px;
    padding: 10px 80px;
    border: 2px solid;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}
.nav-item:hover {
    background-color: #dbd7d7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.userCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    background-color: #fdeaa4;
    box-shadow: 1px 1px 10px black;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    padding-left: 10px;
}
.form-cont {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 20px;
    padding-top: 20px;
}
#name,
#username,
#email {
    width: 200px;
    height: 25px;
    font-size: 16px;
}
#submit {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.form-field {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
label {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 690px) {
    .container {
        grid-template-columns: 1fr;
    }
}



.filter-and-sort {
    padding: 20px 0;
}

select {
    width: 120px;
    height: 30px;
}

ul {
    list-style: none;
}
button {
    cursor: pointer;
}